

{:include file="../Public/head.html"}
<link rel="stylesheet" type="text/css" href="/Public/h-ui/lib/Switch/bootstrapSwitch.css" />


<!--/meta 作为公共模版分离出去-->
<title>添加用户 - H-ui.admin v2.3</title>
<meta name="keywords" content="SimePHP 框架">
<meta name="description" content="SimePHP auth">
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal ajaxUpload" id="form-admin-add">

		<div class="row cl">
			<label class="form-label col-sm-3"><span class="c-red">*</span>名称：</label>
			<div class="formControls col-sm-4">
				<input type="text" class="input-text" placeholder="名称" id="title" name="title">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-sm-3"><span class="c-red">*</span>描述：</label>
			<div class="formControls col-sm-6">
				<input type="text" class="input-text" placeholder="名称" id="descr" name="descr">
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-xs-offset-4 col-sm-offset-3 text-r">
				<input class="btn btn-primary radius" id="subData" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去--> 
{:include file="../Public/pubjs.html"}
<!--/_footer /作为公共模版分离出去--> 
<script type="text/javascript" src="/Public/h-ui/lib/Switch/bootstrapSwitch.js"></script>

{:include file="../Public/addpubjs.html"}

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript">

//验证 调用提交
$("#form-admin-add").validate({
		rules:{
			title:{
				required:true,
			},
			describe:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(){
			$.fn.upData({
				url   : "{:U u='Admin/Auth/addGro'}",
				title : '添加角色',
			})
		}
	});
	
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>