<link rel="stylesheet" type="text/css" href="__CSS__/right.css" />
<div class="rgt_set">
	<input placeholder="请输入关键字"/>
	<button>搜索</button>
</div>
<div class="rgt_bq clear">
	<h2><div class="bq_bq">热门标签 <i class="Hui-iconfont">&#xe64b;</i></div></h2>
  	<ul class="rgt_ul clear">
	    <a href=""><li>Code Log</li></a>
	    <a href=""><li>CSS3</li></a>
	    <a href=""><li>HTML5</li></a>
	    <a href=""><li>ThinkPHP</li></a>
	    <a href=""><li>Hack</li></a>
	    <a href=""><li>JavaScript</li></a>
	    <a href=""><li>JQuery</li></a>
	    <a href=""><li>Tools</li></a>
	    <a href=""><li>Note</li></a>
  	</ul>
</div>
<div class="rgt_frend clear">
	<h2><div class="bq_bq">友情链接 <i class="Hui-iconfont">&#xe64b;</i></div></h2>
  	<ul class="rgt_ul clear">
	    <a href=""><li>YzmCMS</li></a>
        <a href=""><li>多骨鱼</li></a>
        <a href=""><li>封尘博客</li></a>
        <a href=""><li>叶落山城秋</li></a>
        <a href=""><li>高蒙博客</li></a>
        <a href=""><li>张艳博客</li></a>
        <a href=""><li>爱佳博客</li></a>
        <a href=""><li>飞信网</li></a>
        <a href=""><li>YzmCMS</li></a>
        <a href=""><li>多骨鱼</li></a>
        <a href=""><li>封尘博客</li></a>
        <a href=""><li>叶落山城秋</li></a>
        <a href=""><li>高蒙博客</li></a>
        <a href=""><li>张艳博客</li></a>
        <a href=""><li>爱佳博客</li></a>
        <a href=""><li>飞信网</li></a>
        <a href=""><li>YzmCMS</li></a>
        <a href=""><li>多骨鱼</li></a>
        <a href=""><li>封尘博客</li></a>
        <a href=""><li>叶落山城秋</li></a>
        <a href=""><li>高蒙博客</li></a>
        <a href=""><li>张艳博客</li></a>
        <a href=""><li>爱佳博客</li></a>
        <a href=""><li>飞信网</li></a>
        <a href=""><li>YzmCMS</li></a>
        <a href=""><li>多骨鱼</li></a>
        <a href=""><li>封尘博客</li></a>
        <a href=""><li>叶落山城秋</li></a>
        <a href=""><li>高蒙博客</li></a>
        <a href=""><li>张艳博客</li></a>
        <a href=""><li>爱佳博客</li></a>
        <a href=""><li>飞信网</li></a>
        <a href=""><li>YzmCMS</li></a>
        <a href=""><li>多骨鱼</li></a>
        <a href=""><li>封尘博客</li></a>
        <a href=""><li>叶落山城秋</li></a>
        <a href=""><li>高蒙博客</li></a>
        <a href=""><li>张艳博客</li></a>
        <a href=""><li>爱佳博客</li></a>
        <a href=""><li>飞信网</li></a>
  	</ul>	
</div>