<!DOCTYPE html>
<html class='index' lang="zh-CN">
<head>
<include file='Public:head'/>
<link rel="stylesheet" type="text/css" href="__CSS__/index1.css" />
</head> 
<body id="body">
    <include file="Public:newhd"/>
    <div class="index_all">
        <div class="all_center clear">
            <div class="cenetr_right">
                <include file="Public:right"/>
            </div>
            <div class="cenetr_left">
                <div class="bg_lun"></div>
                <div class="action">
                    <h4 class="action_title"><a>热门文章</a></h4>
                    <ul class="ulOns">
                        <li class="action_list">
                            <div class="list_cenetr clear">
                               <div class="in_img"><img src="__IMG__/index/2017032858da05cfe46e8.jpg"/></div>
                               <div class="in_body">
                                  <ul>
                                      <li class="li_tit"><a href="">thinkphp点击图片刷新验证码</a></li>
                                      <li class="li_body">
                                      本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候
                                      </li>
                                      <li class="li_foot">
                                          <ul class="foot_li">
                                              <li class="foot_time">2017-05-23</li>
                                              <li class="foot_acter">作者：雷公</li>
                                              <li class="foot_pin">评论：80</li>
                                              <li class="foot_look">浏览：10000000</li>
                                              <li class="foot_class">程序开发</li>
                                          </ul>
                                      </li>
                                  </ul>
                               </div>
                            </div>
                        </li>
                        <li class="action_list">
                            <div class="list_cenetr clear">
                               <div class="in_img"><img src="__IMG__/index/2017032858da05cfe46e8.jpg"/></div>
                               <div class="in_body">
                                  <ul>
                                      <li class="li_tit"><a href="">thinkphp点击图片刷新验证码</a></li>
                                      <li class="li_body">
                                      本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候
                                      </li>
                                      <li class="li_foot">
                                          <ul class="foot_li">
                                              <li class="foot_time">2017-05-23</li>
                                              <li class="foot_acter">作者：雷公</li>
                                              <li class="foot_pin">评论：80</li>
                                              <li class="foot_look">浏览：10000000</li>
                                              <li class="foot_class">程序开发</li>
                                          </ul>
                                      </li>
                                  </ul>
                               </div>
                            </div>
                        </li>
                        <li class="action_list">
                            <div class="list_cenetr clear">
                               <div class="in_img"><img src="__IMG__/index/2017032858da05cfe46e8.jpg"/></div>
                               <div class="in_body">
                                  <ul>
                                      <li class="li_tit"><a href="">thinkphp点击图片刷新验证码</a></li>
                                      <li class="li_body">
                                      本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候
                                      </li>
                                      <li class="li_foot">
                                          <ul class="foot_li">
                                              <li class="foot_time">2017-05-23</li>
                                              <li class="foot_acter">作者：雷公</li>
                                              <li class="foot_pin">评论：80</li>
                                              <li class="foot_look">浏览：10000000</li>
                                              <li class="foot_class">程序开发</li>
                                          </ul>
                                      </li>
                                  </ul>
                               </div>
                            </div>
                        </li>
                        <li class="action_list">
                            <div class="list_cenetr clear">
                               <div class="in_img"><img src="__IMG__/index/2017032858da05cfe46e8.jpg"/></div>
                               <div class="in_body">
                                  <ul>
                                      <li class="li_tit"><a href="">thinkphp点击图片刷新验证码</a></li>
                                      <li class="li_body">
                                      本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候
                                      </li>
                                      <li class="li_foot">
                                          <ul class="foot_li">
                                              <li class="foot_time">2017-05-23</li>
                                              <li class="foot_acter">作者：雷公</li>
                                              <li class="foot_pin">评论：80</li>
                                              <li class="foot_look">浏览：10000000</li>
                                              <li class="foot_class">程序开发</li>
                                          </ul>
                                      </li>
                                  </ul>
                               </div>
                            </div>
                        </li>
                        <li class="action_list">
                            <div class="list_cenetr clear">
                               <div class="in_img"><img src="__IMG__/index/2017032858da05cfe46e8.jpg"/></div>
                               <div class="in_body">
                                  <ul>
                                      <li class="li_tit"><a href="">thinkphp点击图片刷新验证码</a></li>
                                      <li class="li_body">
                                      本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候
                                      </li>
                                      <li class="li_foot">
                                          <ul class="foot_li">
                                              <li class="foot_time">2017-05-23</li>
                                              <li class="foot_acter">作者：雷公</li>
                                              <li class="foot_pin">评论：80</li>
                                              <li class="foot_look">浏览：10000000</li>
                                              <li class="foot_class">程序开发</li>
                                          </ul>
                                      </li>
                                  </ul>
                               </div>
                            </div>
                        </li>
                        <li class="action_list">
                            <div class="list_cenetr clear">
                               <div class="in_img"><img src="__IMG__/index/2017032858da05cfe46e8.jpg"/></div>
                               <div class="in_body">
                                  <ul>
                                      <li class="li_tit"><a href="">thinkphp点击图片刷新验证码</a></li>
                                      <li class="li_body">
                                      本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候
                                      </li>
                                      <li class="li_foot">
                                          <ul class="foot_li">
                                              <li class="foot_time">2017-05-23</li>
                                              <li class="foot_acter">作者：雷公</li>
                                              <li class="foot_pin">评论：80</li>
                                              <li class="foot_look">浏览：10000000</li>
                                              <li class="foot_class">程序开发</li>
                                          </ul>
                                      </li>
                                  </ul>
                               </div>
                            </div>
                        </li>
                        <li class="action_list">
                            <div class="list_cenetr clear">
                               <div class="in_img"><img src="__IMG__/index/2017032858da05cfe46e8.jpg"/></div>
                               <div class="in_body">
                                  <ul>
                                      <li class="li_tit"><a href="">thinkphp点击图片刷新验证码</a></li>
                                      <li class="li_body">
                                      本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候
                                      </li>
                                      <li class="li_foot">
                                          <ul class="foot_li">
                                              <li class="foot_time">2017-05-23</li>
                                              <li class="foot_acter">作者：雷公</li>
                                              <li class="foot_pin">评论：80</li>
                                              <li class="foot_look">浏览：10000000</li>
                                              <li class="foot_class">程序开发</li>
                                          </ul>
                                      </li>
                                  </ul>
                               </div>
                            </div>
                        </li>
                        <li class="action_list">
                            <div class="list_cenetr clear">
                               <div class="in_img"><img src="__IMG__/index/2017032858da05cfe46e8.jpg"/></div>
                               <div class="in_body">
                                  <ul>
                                      <li class="li_tit"><a href="">thinkphp点击图片刷新验证码</a></li>
                                      <li class="li_body">
                                      本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候
                                      </li>
                                      <li class="li_foot">
                                          <ul class="foot_li">
                                              <li class="foot_time">2017-05-23</li>
                                              <li class="foot_acter">作者：雷公</li>
                                              <li class="foot_pin">评论：80</li>
                                              <li class="foot_look">浏览：10000000</li>
                                              <li class="foot_class">程序开发</li>
                                          </ul>
                                      </li>
                                  </ul>
                               </div>
                            </div>
                        </li>
                        <li class="action_list">
                            <div class="list_cenetr clear">
                               <div class="in_img"><img src="__IMG__/index/2017032858da05cfe46e8.jpg"/></div>
                               <div class="in_body">
                                  <ul>
                                      <li class="li_tit"><a href="">thinkphp点击图片刷新验证码</a></li>
                                      <li class="li_body">
                                      本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候
                                      </li>
                                      <li class="li_foot">
                                          <ul class="foot_li">
                                              <li class="foot_time">2017-05-23</li>
                                              <li class="foot_acter">作者：雷公</li>
                                              <li class="foot_pin">评论：80</li>
                                              <li class="foot_look">浏览：10000000</li>
                                              <li class="foot_class">程序开发</li>
                                          </ul>
                                      </li>
                                  </ul>
                               </div>
                            </div>
                        </li>
                        <li class="action_list">
                            <div class="list_cenetr clear">
                               <div class="in_img"><img src="__IMG__/index/2017032858da05cfe46e8.jpg"/></div>
                               <div class="in_body">
                                  <ul>
                                      <li class="li_tit"><a href="">thinkphp点击图片刷新验证码</a></li>
                                      <li class="li_body">
                                      本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候本类验证码功能刷新功能，涉及到两个刷新，一个是点击验证码图片刷新，另一个是输错验证码刷新，thinkPHP框架里面内置了verify.class.php验证类，我们做验证码验证的时候
                                      </li>
                                      <li class="li_foot">
                                          <ul class="foot_li">
                                              <li class="foot_time">2017-05-23</li>
                                              <li class="foot_acter">作者：雷公</li>
                                              <li class="foot_pin">评论：80</li>
                                              <li class="foot_look">浏览：10000000</li>
                                              <li class="foot_class">程序开发</li>
                                          </ul>
                                      </li>
                                  </ul>
                               </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <include file="Public:footer"/>
</body>
<script type="text/javascript">

</script>
 