
<include file="Public:head" />

<title>权限管理</title>

<style type="text/css">
	.active{
		color:blue;
	}
	.colsp{
		color:#19A97B;
	}
</style>

</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 权限管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray"> 
		<span class="l">
			<a href="javascript:delAuths();" class="btn btn-danger radius">
				<i class="Hui-iconfont">&#xe6e2;</i> 批量删除
			</a> 
			<a href="javascript:;" onclick="addAuth('添加权限节点','{:U('Admin/Auth/addAuth')}','','435')" class="btn btn-primary radius">
				<i class="Hui-iconfont">&#xe600;</i> 添加权限节点
			</a>
		</span> 
		<span class="r">共有数据：<strong>{:$pgnum}</strong> 条</span> 
	</div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="7">权限节点</th>
			</tr>
			<tr class="text-l">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th>PATH</th>
				<th>权限名称</th>
				<th>权限对象</th>
				<th>AJAX</th>
				<th>菜单</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			
			<foreach name='list' item='v' key='k'>
				<tr class="text-l">
					<td><input type="checkbox" value="{$v['id']}" name="id"></td>
					<td>{$v['path']}
					</td>
					<td>
						<if condition="$v['menu'] eq 1">
							<span class="colsp">
						</if>
						{$v['nbsp']}
						<if condition="$v['menu'] eq 1">
							|-
						<else/>
							►
						</if>
						{$v['title']}
						<if condition="$v['menu'] eq 1">
							</span>
						</if>
					</td>
					<td>{$v['name']}</td>
					<td>
						<if condition="$v['ajax'] eq 1">
							<span class="badge badge-primary radius">Yes</span>
						</if>
					</td>
					<td>
						<if condition="$v['menu'] eq 1">
							<span class="badge badge-primary radius">Yes</span>
						</if>
					</td>
					<td>
						<a title="编辑" href="javascript:;" onclick="editAuth('权限编辑','{:U('Admin/Auth/editAuth',array('id'=>$v['id']))}','','','435')" class="ml-5" style="text-decoration:none">
							<i class="Hui-iconfont">&#xe6df;</i>
						</a>
						<a title="删除" href="javascript:;" onclick="delAuth(this,{$v.id},'{$v.title}')" class="ml-5" style="text-decoration:none">
							<i class="Hui-iconfont">&#xe6e2;</i>
						</a>
						<if condition="$v['menu'] eq 1">
							<a title="添加下级" href="javascript:;" onclick="addAuth('添加下级权限','{:U('Admin/Auth/addAuth',array('id'=>$v['id']))}','','435')" class="ml-5" style="text-decoration:none">
								添加下级
							</a>
						</if>
					</td>
				</tr>
			</foreach>
			
		</tbody>
	</table>
	{:$page}
	

</div>
<include file="Public:pubjs" />
<script type="text/javascript">

//添加权限
function addAuth(title,url,w,h){
	layer_show(title,url,w,h);
}

//编辑权限
function editAuth(title,url,id,w,h){
	layer_show(title,url,w,h);
}

//删除权限
function delAuth(obj,id,tips){
	layer.confirm('删除须谨慎，确认要删除<span class="col_tips"> '+tips+' </span>吗？',function(index){

		$.fn.delData({
			url   : "{:U('Admin/Auth/delAuth')}",
			data  : {id:id},
			title : '删除权限',
		})
	});
}

//批量删除权限
function delAuths(){

	var data = {};

	$("input[name='id']:checked").each(function(k){
		data[k] = $(this).val();
	});
	
	layer.confirm('删除须谨慎，确认要删除吗？',function(index){

		$.fn.delData({
			url   : "{:U('Admin/Auth/delAuths')}",
			data  : {id:data},
			title : '删除权限',
		})
	});
}

</script>
</body>
</html>