
<include file="Public:head" />

<title>权限管理</title>

<style type="text/css">
	.active{
		color:blue;
	}
	.colsp{
		color:#19A97B;
	}
</style>

</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 权限管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray"> 
		<span class="l">
			<a href="javascript:delGros();" class="btn btn-danger radius">
				<i class="Hui-iconfont">&#xe6e2;</i> 批量删除
			</a> 
			<a href="javascript:;" onclick="addGro('添加角色','{:U u='Admin/Auth/addGro'}','','230')" class="btn btn-primary radius">
				<i class="Hui-iconfont">&#xe600;</i> 添加角色
			</a>
		</span> 
		<span class="r">共有数据：<strong>{:$pgnum}</strong> 条</span> 
	</div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="7">角色管理</th>
			</tr>
			<tr class="text-l">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th>ID</th>
				<th>角色名</th>
				<th>用户列表</th>
				<th>描述</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			
			{:foreach from=$list item=v}
				<tr class="text-l">
					<td><input type="checkbox" value="{:$v.id}" name="id"></td>
					<td>{:$v.id}</td>
					<td>{:$v.title}</td>
					<td></td>
					<td>{:$v.descr}</td>
					<td>
						<a title="编辑" href="javascript:;" onclick="editGro('角色编辑','{:U u='Admin/Auth/editGro' p='/id/'|cat:$v.id}','','','230')" class="ml-5" style="text-decoration:none">
							<i class="Hui-iconfont">&#xe6df;</i>
						</a>
						
						<a title="设置权限" href="javascript:;" onclick="setAuth('设置权限','{:U u='Admin/Auth/setAuth' p='/id/'|cat:$v.id}','','1000','500')" class="ml-5" style="text-decoration:none">
							<i class="Hui-iconfont">&#xe63f;</i>
						</a>

						<a title="删除" href="javascript:;" onclick="delGro(this,{:$v.id},'{:$v.title}')" class="ml-5" style="text-decoration:none">
							<i class="Hui-iconfont">&#xe6e2;</i>
						</a>
					</td>
				</tr>
			{:/foreach}
		</tbody>
	</table>
	{:$page}
	

</div>
<include file="Public:pubjs" />
<script type="text/javascript">

//添加角色
function addGro(title,url,w,h){
	layer_show(title,url,w,h);
}

//编辑角色
function editGro(title,url,id,w,h){
	layer_show(title,url,w,h);
}

//设置权限
function setAuth(title,url,id,w,h){
	layer_show(title,url,w,h);
}


//删除角色
function delGro(obj,id,tips){
	layer.confirm('删除须谨慎，确认要删除<span class="col_tips"> '+tips+' </span>吗？',function(index){

		$.fn.delData({
			url   : "{:U u='Admin/Auth/delGro'}",
			data  : {id:id},
			title : '删除权限',
		})
	});
}

//批量删除角色
function delGros(){

	var data = {};

	$("input[name='id']:checked").each(function(k){
		data[k] = $(this).val();
	});
	
	layer.confirm('删除须谨慎，确认要删除吗？',function(index){

		$.fn.delData({
			url   : "{:U u='Admin/Auth/delGros'}",
			data  : {id:data},
			title : '删除权限',
		})
	});
}

</script>
</body>
</html>