<!DOCTYPE html>
<html class='index' lang="zh-CN">
<head>
<include file='Public:head'/>
<link rel="stylesheet" type="text/css" href="__CSS__/index1.css" />
<link rel="stylesheet" type="text/css" href="__CSS__/pamList.css" />
</head> 
<body id="body">
    <include file="Public:newhd"/>
    <div class="index_all">
        <div class="all_center clear">
            <div class="cenetr_right">
                <include file="Public:right"/>
            </div>
            <div class="cenetr_left">
               <div class="Info_center">
                  <div class="center_l">
                        <div class="info_title">{$info['title']}</div>
                        <div class="info_oter">
                            <ul class="oter_ul clear" >
                                <li><a title="发表时间：{$v['time']|date="Y-m-d",###}"><i class="Hui-iconfont">&#xe690;</i> {$info['time']|date="Y-m-d",###}</a></li>
                                <li><a><i class="Hui-iconfont">&#xe697;</i> {$info['zan']}赞</a></li>
                                <li><a><i class="Hui-iconfont">&#xe622;</i> {$info['cnum']}评论</a></li>
                                <li><a><i class="Hui-iconfont">&#xe725;</i> {$info['rnum']}次</a></li>
                            </ul>
                        </div>
                        <div class="info_body">
                            {$info['content']}
                        </div>
                        <div class="info_fz clear">
                            <button class="dashang">打赏</button>
                            <button class="fenxiang">分享</button>
                        </div>
                  </div>

               </div>
               <div class="naxt_center">
                   <div class="naxt_l_cewn">
                       <div class="tet">评论留言</div>
                       <div class="orter_pl">
                           <ul>
                           <foreach name="pl" item="v">
                               <li class="clear">
                                    <div class="name_pl"><span class="name">{$v['uname']}</span><span class="pl_time">2017-06-14 12:45:06</span><a class="huifu">回复</a></div>
                                    <div class="pl_body clear">
                                        <div class="pl_toux"><img src="__IMG__/index/2017032858da05cfe46e8.jpg"/></div>
                                        <div class="b_bodys">
                                        {$v[body]}
                                        </div>
                                        
                                    </div>
                                    <ul class="pl_hui">
                                    <!-- <foreach name="ph" item="h">
                                    <if condition='$h[''] eq 0'>
                                        <li>
                                            <div class="name_pl"><span class="name">辛巴死士</span><span class="pl_time">2017-06-14 12:45:06</span><a class="huifu">回复</a></div>
                                            <div class="pl_body clear">
                                                <div class="pl_toux"><img src="__IMG__/index/2017032858da05cfe46e8.jpg"/></div>
                                                <div class="b_bodys"><a href="">回复 <span>錵艺</span>：</a>
                                                扫附近的卢萨卡几点开两三点。冻死了富士康节食减肥。分么股份地接口的的首付款独守空房当牲口。大方公开分单联开关更符合客观方面会徕木股份公开规范(*/ω＼*)
                                                扫附近的卢萨卡几点开两三点。冻死了富士康节食减肥。分么股份地接口的的首付款独守空房当牲口。大方公开分单联开关更符合客观方面会徕木股份公开规范(*/ω＼*)
                                                扫附近的卢萨卡几点开两三点。冻死了富士康节食减肥。分么股份地接口的的首付款独守空房当牲口。大方公开分单联开关更符合客观方面会徕木股份公开规范(*/ω＼*)
                                                </div>
                                                
                                            </div>
                                        </li>
                                    </foreach> -->
                                    </ul>
                                </li>
                            </foreach>
                           </ul>
                       </div>
                       <div class="text">
                           <textarea placeholder="输入文字进行评论" name="body"></textarea>
                       </div>
                       <div class="add_pl clear">
                           <button id="add_rw">评论</button>
                       </div>
                   </div>

               </div>
            </div>
        </div>
    </div>
    <include file="Public:footer"/>
</body>
<script type="text/javascript">
$("#add_rw").on('click',function(){
    var body=$("textarea[name='body']").val();
    var id = {$info['id']};
    if(body ==""){
        layer.msg('请输入评论内容！'); return false;
    }
    $.post('{:U("Program/addRw")}',{by:body,id:id},function(e){
            if(e.r == 1){
                layer.msg('请先登陆！'); return false;
            }else if(e.r == 2){
                layer.msg('请选择评论文章！'); return false;
            }else if(e.r == 101){
                layer.msg('评论失败！'); return false;
            }else if(e.r == 100){
                layer.msg('评论成功！');
                location.reload();
            }
    },'json');
});
</script>
 