<!DOCTYPE html>
<html class='index' lang="zh-CN">
<head>
<include file='Public:head'/>
<link rel="stylesheet" type="text/css" href="__CSS__/index1.css" />
<link rel="stylesheet" type="text/css" href="__CSS__/pamList.css" />
</head> 
<body id="body">
    <include file="Public:newhd"/>
    <div class="index_all">
        <div class="all_center clear">
            <div class="cenetr_right">
                <include file="Public:right"/>
            </div>
            <div class="cenetr_left">
                <!-- <div class="bg_lun"></div> -->
                <div class="action">
                    <h4 class="action_title"><a>列表 > <span class="list_page">程序开发</span></a></h4>
                    <ul class="ulOns">
                    <foreach name="list" item="v">
                        <li class="action_list">
                            <div class="list_cenetr clear">
                               <div class="in_img"><img src="__IMG__/index/2017032858da05cfe46e8.jpg"/></div>
                               <div class="in_body">
                                  <ul>
                                      <li class="li_tit"><a href="">{$v['title']}</a></li>
                                      <li class="li_body">
                                      {$v['content']}
                                      </li>
                                      <li class="li_foot">
                                          <ul class="foot_li">
                                              <li class="foot_time"><i class="Hui-iconfont">&#xe690;</i> {$v['time']|date="Y-m-d",###}</li>
                                              <li class="foot_acter"><i class="Hui-iconfont">&#xe697;</i> {$v['zan']}赞</li>
                                              <li class="foot_pin"><i class="Hui-iconfont">&#xe622;</i> <a href="">{$v['cnum']}评论</a></li>
                                              <li class="foot_look"><i class="Hui-iconfont">&#xe725;</i> {$v['rnum']}次</li>
                                              <li class="foot_class">{$v['name']}</li>
                                          </ul>
                                      </li>
                                  </ul>
                               </div>
                            </div>
                        </li>
                      </foreach>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <include file="Public:footer"/>
</body>
<script type="text/javascript">

</script>
 