footer{
	margin-top: 20px;
	background: #202121;
	height: 170px;
	text-align: center;
	padding-top: 50px;
}

footer span{
	color: #fff;
}

footer div{
	margin-bottom:10px; 
}

footer a{
	color: #fff;
	margin:0 5px; 
	display: inline-block;
}