body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,input{ margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
ol,ul{ list-style:none;}
img,fieldset{ border:0 none; display:block;}
.head a:hover{text-decoration: none;}
a{
	text-decoration: none;
}
html {min-height: 100%;height:100%;} 
body{
	min-width: 1200px;
	width: 100%;
	height:100%;
	background: url(../img/header/20132516331326.jpg) no-repeat;
	background-attachment: fixed;
	background-repeat: no-repeat;
    /*background-size: 100%;*/
    background-size: cover;
	-moz-background-size:cover;
	background-size: 100% 100%;
	/*border:1px solid #f00;*/
	height:auto;

}
body a{color:#000;}
.clear:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

.Chder{
	width: 100%;
	/*border:1px solid #f00;*/
	height:75px;
	background: #fff;
	box-shadow: 0px 2px 5px #FF6700;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 3;
	top:0;
}
.ch_center{
	/*border:1px solid #f00;*/
	width: 1200px;
	margin: 0 auto;
	height:75px;
}
.ch_title{
	width: 17%;
	/*border:1px solid #00f;*/
	height:100%;
	float: left;
	line-height: 75px;
	font-size: 25px;
	color:#3BB4F2;
	font-family: '宋体';
	font-weight: 600;
}
.ch_list{
	float: left;
	height:100%;
	width:68%;
	/*border:1px solid #0f0;*/
}
.ch_dz{
	float: right;
	width: 15%;
	/*border:1px solid #000;*/
	height:100%;
}
.ch_ul{
	height:100%;
}
.ch_ul li{
	float: left;
	/*border:1px solid #f00;*/
	height:100%;
	width: 100px;
	overflow: hidden;

}
.ch_ul li:hover{
	/*background: #FF6700;
	color:#fff;
	border:1px solid #0f0;*/
}
.ch_ul li .a_on{
		/*background: #FF6700;*/
	color:#fff;
	/*border:1px solid #00f;*/
	display: block;
	height:100%;
	line-height: 75px;
	text-align: center;
	font-size: 17px;
	text-decoration: none;
	color: #FF6700;
	-webkit-transition:all 0.1s;
    -moz-transition:all 0.1s;
    -o-transition:all 0.1s;
    transition:all 0.1s;

}
.ch_ul li .a_on:hover{
	color:#fff;
    -webkit-transform: scale(1.2);
    -moz-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
    background: #FF6700;
   
}
.ch_dz button{
	width: 60px;
	height:35px;
	float: right;
	/*border:none;*/
	/*border:1px solid #f00;*/
	margin-top: 20px;
	margin-left: 5px;
	border-radius: 5px;
	font-size:14px;
	transition:background 1s;
	/*font-weight: 600;*/
}
.ch_dz_dn{
	background: #fff;
	color:#3BB4F2;
	border:none;

	/*border:1px solid #FF6700;*/
}
.ch_dz_zhc{
	color:#FF6700;
	border:1px solid #FF6700;
	background: #fff;
}
.ch_dz_dn:hover{
	color:#fff;
	background: #FF6700;
}
.ch_dz_zhc:hover{
	color:#fff;
	background: #FF6700;
}
.ch_dz_tc{
	background: #fff;
	color:#3BB4F2;
	border:none;	
}
.my_bk{
	display: block;float: right;
	/*border:1px solid #f00;*/
	height:100%;
	line-height: 75px;
	margin-right: 20px;
	color:#555;
}
.ch_ul li .cg_ov{
	/*border:1px solid #f00;*/
	position: absolute;
	width:135px;
	color:#fff;
	/*height:100px;*/
	background-color: rgba(255, 255, 255, 0.8);
	display: none;
}
.ch_ul .hovers .cg_ov .er{
	color:#FF6700;
	display: block;
	font-size: 14px;
	border-bottom:1px solid #ddd;
	padding: 8px 5px;
	text-align: center;
	text-decoration: none;
	
}
.ch_ul li .cg_ov .er:hover{
	color:#fff;
	background:#FF6700; 
}
.Hui-iconfont{
	color:#aaa;
}