<include file="Public:head" />

<title>管理员管理</title>

<style type="text/css">
	.active{
		color:blue;
	}
	.colsp{
		color:#19A97B;
	}
</style>

</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 管理员管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray"> 
		<span class="l">
			<a href="javascript:delAdms();" class="btn btn-danger radius">
				<i class="Hui-iconfont">&#xe6e2;</i> 批量删除
			</a> 
			<a href="javascript:;" onclick="addAdm('添加管理员','{:U('Admin/Adm/addAdm')}','','530')" class="btn btn-primary radius">
				<i class="Hui-iconfont">&#xe600;</i> 添加管理员
			</a>
		</span> 
		<span class="r">共有数据：<strong>{:$pgnum}</strong> 条</span> 
	</div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="8">角色管理</th>
			</tr>
			<tr class="text-l">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th>ID</th>
				<th>用户名</th>
				<th>手机</th>
				<th>邮箱</th>
				<th>角色</th>
				<th>状态</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			
			{:foreach from=$list item=v}
				<tr class="text-l">
					<td><input type="checkbox" value="{:$v.uid}" name="id"></td>
					<td>{:$v.uid}</td>
					<td>{:$v.uname}</td>
					<td>{:$v.tel}</td>
					<td>{:$v.email}</td>
					<td>{:$v.title}</td>
					<td>
						{:if $v.state eq 1} 
							<span class="label label-success radius">已启用</span>
						{:else} 
							<span class="label radius">已停用</span>
						{:/if}
					</td>
					<td>
						{:if $v.state eq 1} 
							<a style="text-decoration:none" onclick="eidtSta(this,{:$v.uid})" href="javascript:;" title="禁用"><i class="Hui-iconfont">&#xe631;</i></a>
						{:else} 
							<a style="text-decoration:none" onclick="eidtSta(this,{:$v.uid})" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe615;</i></a>
						{:/if}
						<a title="编辑" href="javascript:;" onclick="editAdm('管理员编辑','{:U('Admin/Adm/editAdm',array('uid'=>$v.uid)) u='','','','530')" class="ml-5" style="text-decoration:none">
							<i class="Hui-iconfont">&#xe6df;</i>
						</a>
						<a title="删除" href="javascript:;" onclick="delAdm(this,{:$v.uid},'{:$v.name}')" class="ml-5" style="text-decoration:none">
							<i class="Hui-iconfont">&#xe6e2;</i>
						</a>
					</td>
				</tr>
			{:/foreach}
		</tbody>
	</table>
	{:$page}
	

</div>
<include file="Public:pubjs" />
<script type="text/javascript">

//添加管理员
function addAdm(title,url,w,h){
	layer_show(title,url,w,h);
}

//编辑角色
function editAdm(title,url,uid,w,h){
	layer_show(title,url,w,h);
}

//禁用管理员
function eidtSta(obj,uid){

	$.fn.delData({
		url   : "{:U('Admin/Adm/eidtSta')}",
		data  : {uid:uid},
		title : '设置状态',
	})
}


//删除角色
function delAdm(obj,uid,tips){
	layer.confirm('删除须谨慎，确认要删除<span class="col_tips"> '+tips+' </span>吗？',function(index){

		$.fn.delData({
			url   : "{:U('Admin/Adm/delAdm')}",
			data  : {uid:uid},
			title : '删除管理员',
		})
	});
}

//批量删除角色
function delAdms(){

	var data = {};
	$("input[name='id']:checked").each(function(k){
		data[k] = $(this).val();
	});
	
	layer.confirm('删除须谨慎，确认要删除吗？',function(index){
		$.fn.delData({
			url   : "{:U('Admin/Adm/delAdms')}",
			data  : {uid:data},
			title : '删除权限',
		})
	});
}

</script>
</body>
</html>